# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [ ]:
def lesser_of_two_evens(a,b):
    pass

In [ ]:
# Check
lesser_of_two_evens(2,4)

In [ ]:
# Check
lesser_of_two_evens(2,5)

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [ ]:
def animal_crackers(text):
    pass

In [ ]:
# Check
animal_crackers('Levelheaded Llama')

In [ ]:
# Check
animal_crackers('Crazy Kangaroo')

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [ ]:
def makes_twenty(n1,n2):
    pass

In [ ]:
# Check
makes_twenty(20,10)

In [ ]:
# Check
makes_twenty(2,3)

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [11]:
def old_macdonald(name):
    x=name[0].upper()
    y=name[3].upper()
    name=x+name[1:3]+y+name[4:]
    return name
old_macdonald("abhishek")

'AbhIshek'

In [13]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [73]:
def master_yoda(text):
    a=text.split()
    print(a)
    newtext= " ".join(a[::-1])
    return newtext
    #text.split()-splits text
    #list(text)-every character list

In [74]:
# Check
master_yoda('I am home')

['I', 'am', 'home']

'home am I'

In [75]:
# Check
master_yoda('We are ready')

['We', 'are', 'ready']

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [78]:
def almost_there(n):
    return 89<n<111 or 189<n<211

In [79]:
# Check
almost_there(104)

True

In [80]:
# Check
almost_there(150)

False

In [81]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [1]:
def has_33(nums):
    for i in range(0, len(nums)-1):
        if nums[i]==nums[i+1]==3:
            return True
    return False

In [2]:
# Check
has_33([1, 3, 3])

True

In [3]:
# Check
has_33([1, 3, 1, 3])

False

In [4]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [9]:
def paper_doll(text):
    x_new=""
    for x in text:
        x_new+=(x*3)
    return x_new

In [10]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [11]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [37]:
def blackjack(a,b,c):
    if (a+b+c)<=21:
        return a+b+c
    else:
        if (a==11 or b==11 or c==11) and (a+b+c)<=31:
            return (a+b+c)-10
        else:
            return 'BUST'

In [38]:
# Check
blackjack(5,6,7)

18

In [41]:
# Check
blackjack(9,19,11)

'BUST'

In [40]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [38]:
def summer_69(arr):
    sum2=0
    for i in range(0,len(arr)):
        if arr[i]==6:
            for j in range(i+1,len(arr)):
                if arr[j]==9:
                    sum2=sum(arr[:i])+sum(arr[j+1:])
                elif 9 in arr[i+1:]:
                    pass
                             
                else:
                    sum2=sum(arr)
        elif 6 in arr:
            pass
        else:
            sum2= sum(arr)
    return sum2

In [39]:
# Check
summer_69([1, 3, 5])

9

In [40]:
# Check
summer_69([4, 5, 6, 7, 8,9])

9

In [41]:
# Check
summer_69([2,9,1, 6,11])

29

In [42]:
# Check
summer_69([4, 5, 6, 7, 8])

30

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [61]:
def spy_game(nums):

    y = [0,0,7,'x']
    for i in nums:
        if i==y[0]:
            y.pop(0)

    return len(y)==1

In [62]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [63]:
# Check
spy_game([1,0,2,4,1,5,7])

False

In [64]:
# Check
spy_game([0,0,0,0,0,0,7,2,0,4,5,0])

True

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [1]:
def count_factor(num):
    factors=0
    for i in range(1,num+1):
        if num%i==0:
            factors+=1
     #       print(i,"is a factor of",num)
    #print("the total number of factors are ",factors)
    #print(len(factors))
    return factors    
        

def count_prime(num):
    if num>=2:
        prime_numbers=0
        x=[]
        for i in range(2,num+1):
            if count_factor(i)==2:
                prime_numbers+=1
                x.append(i)
                
        print(f"number of prime numbers between 0 and {num} are {prime_numbers}")
        print(x)
    else:
        print("enter a number greater than 2")

In [2]:
# Check
count_factor(100)

9

In [3]:
count_prime(100)

number of prime numbers between 0 and 100 are 25
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [4]:
count_prime(1)

enter a number greater than 2

In [5]:
count_prime(2)

number of prime numbers between 0 and 2 are 1
[2]

In [6]:
count_prime(150)

number of prime numbers between 0 and 150 are 35
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149]

In [7]:
count_prime(1111)

number of prime numbers between 0 and 1111 are 186
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997, 1009, 1013, 1019, 1021, 1031, 1033, 1039, 1049, 1051, 1061, 1063, 1069, 1087, 1091, 1093, 1097, 1103, 1109]

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!